.git/
.vs/
.env
.env.*
**/appsettings.Local.json

**/bin/
**/obj/

!SipBrew.Core/bin/
!SipBrew.Core/bin/Debug/
!SipBrew.Core/bin/Debug/net10.0/
!SipBrew.Core/bin/Debug/net10.0/BaseLib.Common.dll

Dockerfile
.dockerignore
